.xiaomiMain {
    width: 100%;
    padding: 50px 0;
    background: linear-gradient(119deg, #242323, #0000007a);
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.xiaomiContainer {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
    color: #7db2ed;
    font-family: 'Archivo', sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.xiaomiImgContainer {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
}

.xiaomiH1 {
    font-size: 30px;
    color: #f6cd81;
    margin: 10px 0;
}

.xiaomiH2 {
    font-size: 16px;
    color: rgb(240, 240, 240);
    margin: 10px 0;
}

.xiaomiImg {
    width: 80%;
}

.xiaomiBtn {
    height: 50px;
    width: 300px;
    margin: 10px 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    background-color: rgb(148, 148, 148);
    color: #fffefe;
    cursor: pointer;
}

.xiaomiBtn:hover {
    background-color: #5d96d8;
    color: white;
    border: 1px solid #5d96d8;
}

@media (max-width: 768px) {
    .xiaomiMain {
        flex-flow: column-reverse;
        padding: 30px 0;
    }

    .xiaomiContainer, .xiaomiImgContainer {
        width: 100%;
        margin: 15px;
    }

    .xiaomiImg {
        width: 50%;
    }

    .xiaomiH1 {
        font-size: 30px;
    }

    .xiaomiH2 {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .xiaomiMain {
        padding: 20px 0;
    }
    
    .xiaomiBtn {
        width: 100%;
    }

    .xiaomiImg {
        width: 90%;
    }
}