@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.homepageMain {
    width: 100%;
    overflow: hidden;
}

.headerContainer1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(88deg, #000000, #434343);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerContainer1Items {
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

/* .headerContainer1Items:nth-child(2){
    animation: banner 4s ease-out forwards infinite;
}

@keyframes banner {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
} */

.headerContainer1H1 {
    color: #ffffff;
}

#extText {
    color: #7db2ed!important;
}

.headerIntro1P {
    color: lightgray;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: left;
}

.headerContainer1Banner {
    width: 70%;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer1H1 {
    font-size: 40px;
    text-align: left;
}

.headerContainer1Links {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerContainer1Link {
    text-decoration: none;
    height: 45px;
    width: 180px;
    margin: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.headerContainer1Link:nth-child(1){
    border: 1px solid #8ebcf0;
    background-color: #8ebcf0;
}

.headerContainer1Link:nth-child(1):hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: #5d96d8;
}

.headerContainer1Link:nth-child(2){
    border: 1px solid lightgray;
    background-color: transparent;
}

.headerContainer1Link:nth-child(2):hover {
    border: 1px solid navy;
    background-color: white;
    color: navy;
}

.linkP {
    margin-right: 10px;
}

.headerContainer1Banner{
    width: 100%;
}

.headerContainer2 {
    width: 100%;
    /* margin: 80px auto; */
    padding: 50px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(252deg, #242323, #0000004d);
}

.headerContainer2Part1, .headerContainer2Part2 {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.headerContainer2Img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px 1px lightgrey;
}

.headerContainer2H2 {
    color: #7db2ed;
    font-size: 28px;
}

.headerContainer2H1 {
    font-size: 40px;
    letter-spacing: 1px;
    color: lightgray;
}

.headerContainer2P {
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
    color: lightgray;;
}

.headerContainer3Main {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.headerContainer3ImgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../Assets/bg3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(0.5);
}

.headerContainer3Cards {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: center;
    z-index: 1;
    color: white;
}

.headerContainer3Services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headerContainer3Service {
    width: 300px;
    margin: 10px;
    height: 270px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.headerContainer3ServiceIcon {
    font-size: 35px;
    color: #5d96d8;
}

.headerContainer3Header {
    margin-bottom: 15px;
    width: 85%;
}

.headerContainer3H2 {
    color: #8fbaeb;
}

.headerContainer3Header3H2 {
    color: #eba83a;
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
}

.headerContainer3Header3H1 {
    font-family: 'Archivo Black', sans-serif;
}

.headerContainer3HeaderP {
    font-size: 19px;
}

.xiaomiMain {
    width: 100%;
    padding: 80px 0;
    /* margin: 50px auto; */
    background: linear-gradient(119deg, #242323, #0000004d);
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.xiaomiContainer {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
    color: #7db2ed;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.xiaomiImgContainer {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
}

.xiaomiH1 {
    color: #f6cd81;
}

.xiaomiH2 {
    color: rgb(240, 240, 240);
}

.xiaomiImg {
    width: 100%;
}

.xiaomiBtn {
    height: 50px;
    width: 300px;
    margin: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    background-color: rgb(148, 148, 148);
    color: #fffefe;
    cursor: pointer;
}

.xiaomiBtn:hover {
    background-color: #5d96d8;
    color: white;
    border: 1px solid #5d96d8;
}

.testimonial {
    position: relative;
}

.testimonialMain {
    position: relative;
    display: inline-block;
    width: 100%;
}

.testimonialBackground {
    width: 100%;
    height: 100vh;
    background-image: url('../../Assets/testimonial.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(0.5);
}

.testimonialContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: #8ebcf0;
}

.testimonialCards {
    position: relative;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonialCard {
    width: 250px;
    height: 225px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: left;
    background-color: #ffffff3d;
}

.testimonialPaginationMain {
    width: 100%;
}

.testimonialPaginationContainer {
    width: 70%;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.testimonialBtn {
    height: 55px;
    width: 55px;
    background-color: transparent;
    color: #8ebcf0;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonialBtn:disabled {
    cursor: not-allowed;
    color: lightgray;
    background-color: transparent;
    opacity: 0.5;
}

.testimonialBtn:hover {
    background-color: #ffffff38;
}

.testimonialPaginationArrow {
    cursor: pointer;
    font-size: 25px;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 25px;
    padding: 10px;
}

.professionalsMain {
    width: 100%;
    margin: 50px auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.professionalsHeader {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.professionalsContainer{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.professionalsImgContainer {
    width: 350px;
    margin: 15px;
}

.professionalsContainerImg {
    width: 100%;
    height: 400px;
}

.professionalsH1, .professionalsH2 {
    font-family: 'Archivo Black', sans-serif;
    color: #63a2eb;
    letter-spacing: 2px;
}

.professionalsP {
    font-size: 19px;
}

.addFeedBack {
    position: absolute;
    text-decoration: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: -50px;
    color: white;
    z-index: 100;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    transform: rotate(270deg);
    letter-spacing: 1px;
    background-color: #7db2ed;
    cursor: pointer;
}

.addFeedBack:hover {
    background-color: #63a2eb;
}

@media (max-width: 1060px) {
    .headerContainer2 {
        flex-flow: column;
        padding: 20px 10px;
        background: linear-gradient(32deg, #242323, #0000004d);
    }

    .headerContainer2H1 {
        font-size: 2em;
    }

    .headerContainer2Part1 {
        width: 100%;
    }

    .headerContainer2Part2 {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

    .headerContainer2Img {
        width: 100%;
        height: unset;
    }
}

@media (max-width: 932px) {
    .headerContainer3ImgContainer, .testimonialBackground {
        background-attachment: scroll;
    }
}

@media (max-width: 900px) {
    .testimonialBackground {
        height: 1000px;
    }

    .testimonialCards {
        flex-flow: column;
    }

    .testimonialCard {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .headerContainer1 {
        padding: 100px 0;
        height: unset;
        flex-flow: column-reverse;
    }

    .headerContainer1Items {
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
        align-items: center;
    }

    .headerContainer1Banner {
        width: 320px;
    }

    .headerContainer1Links {
        justify-content: center;
    }

    .headerContainer1H1 {
        text-align: center;
    }

    .xiaomiMain {
        flex-flow: column;
    }

    .xiaomiContainer, .xiaomiImgContainer {
        width: 100%;
        margin: 15px;
    }

    .xiaomiImg {
        width: 70%;
    }

}

@media (max-width: 759px) {
    .professionalsImgContainer {
        width: 90%;
    }

    .professionalsContainerImg {
        height: unset;
    }
}

@media (max-width: 679px) {
    .headerContainer3Service {
        width: 95%;
        height: unset;
        text-align: left;
    }

    .headerContainer3Header {
        margin: 10px auto;
        width: 95%;
    }
}

@media (max-width: 500px) {
    .headerContainer1Card {
        width: 98%;
    }

    .headerContainer1H2 {
        font-size: 25px;
        margin: 10px;
    }

    .headerContainer2Part1 {
        padding: 0;
    }

    .xiaomiImg {
        width: 90%;
    }

    .xiaomiBtn {
        width: 100%;
    }
}

@media (max-width: 432px) {
    .testimonialBackground {
        height: 1200px;
    }

    .headerIntro1P {
        width: 85%;
    }
}

@media (max-width: 323px) {
    .headerContainer3ImgContainer::after, .headerContainer3Main {
        height: 2200px;
    }   
}

@media (max-height: 750px) {
    
    .headerContainer1 {
        padding-top: -50px;
        height: 800px;
    }

}