.professionalsMain {
    width: 100%;
    margin: 20px auto;
    padding: 50px 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 0%, 1);

background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 31%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 31%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 31%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#4E4E4E", GradientType=1 );
}

.professionalsHeader {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.professionalsContainer{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;;
    justify-content: center;
    align-items: center;
}

.professionalsImgContainer {
    width: 30%;
    min-width: 280px;
    margin: 15px;
}

.professionalsContainerImg {
    width: 100%;
    border-radius: 5px;
}

.professionalsH2 {
    color: #63a2eb;
    font-size: 28px;
}

.professionalsP {
    font-size: 16px;
    color: lightgray;
}

.professionalsDetails {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.professionalsDetailsP {
    margin: 2px 0;
    font-size: 13px;
    color: lightgray;
}

@media (max-width: 759px) {
    .professionalsContainerImg {
        height: unset;
    }
}

@media (max-width: 639px) {
    .professionalsImgContainer {
        width: 95%;
    }
}