.xiaomiMain {
    width: 100%;
}

.xiaomiContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.xiaomiBg {
    width: 100%;
    height: 100%;
    background: linear-gradient(119deg, #242323, #0000004d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.xiaomiBgImg {
    width: 40%;
    min-width: 450px;
}

.xiaomiDetails {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #f6cd81;
}

.xiaomiDetailsP {
    color: white;
    text-align: left;
}

.xiaomiRepairContainer {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(45deg, rgb(42, 42, 42), #4d4d4d);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.xiaomiRepairContainer > p {
    text-align: left;
}

.xiaomiRepairH1 {
    letter-spacing: 1px;
    color: #6ca6e9;
}

.xiaomiRepairH4 {
    color: lightgray;
    margin: 10px 0;
}

.xiaomiRepairP {
    font-size: 14px;
    color: lightgray;
    margin: 10px 0;
}

.repairListMain {
    width: 100%;
    margin: 50px auto;
    padding: 50px 0;
    background: linear-gradient(211deg, black, #898686);
}

.repairListContainer {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.repairListMainH1 {
    color: #c7e1ff;
    margin: 30px;
}

.listCard {
    width: 250px;
    min-height: 300px;
    flex-grow: 1;
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #a9a9a9b0;
}

.xiaomilistCardContainer {
    width: 100%;
    display: flex;
    flex-flow: column;

}

.xiaomiLogoContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #2626263b;
}

.xiaomiImg {
    width: 100px;
}

.listCardDetails {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

.listIcon {
    font-size: 30px;
    margin: 10px;
    color: #c7e1ff;
}

.listHeader {
    color: lightgray;
    margin: 5px 0;
    font-size: 14px;
    text-align: left;
}

.poundSign {
    font-size: 28px;
    color: #c7e1ff;
}

.priceP {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    color: #c7e1ff;
}

.bookNowBtn {
    height: 40px;
    width: 100%;
    margin: 1px auto;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #a5cfff;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.bookNowBtn:hover {
    background-color: #8abdf8;
}

.displayMsgMain {
    width: 100%;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.displayMsgH1 {
    color: #7db2ed;
    text-align: center;
}

.displayMsgBtn {
    height: 40px;
    width: 200px;
    border: 1px solid #7db2ed;
    border-radius: 5px;
    background-color: #7db2ed;
    color: white;
    margin: 20px;
    cursor: pointer;
}

.displayMsgBtn:hover {
    background-color: #6ca6e9;
}

@media (max-width: 633px) {
    .xiaomiRepairContainer {
        margin: 50px auto;
    }
    .listCard {
        width: 100%;
        margin: 15px 5px;
    }
}

@media (max-width: 500px) {
    .xiaomiBgImg {
        width: 60%;
        min-width: 300px;
    }
}


@media (min-width: 1061px) and (max-height: 750px) {
    .xiaomiContainer {
        height: 800px;
    }
}