@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

.calendar-main {
    position: relative;
    width: 100%;
    background-image: url('../../Assets/calender.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.go-back-btn-container {
    position: fixed;
    top: 50%;
    left: 5px;
    z-index: 300;
    width: 80px;
    height: 40px;
    background-color: #7db2ed;
    color: white;
    display: flex;
    border: 1px solid #7db2ed;
    border-radius: 5px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.go-back-btn-container:hover {
    background-color: white;
    color: #7db2ed;
}

.calender-main-container {
    width: 100%;
    margin: 160px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    animation: startUp 1.2s ease-out forwards;
}

.calender-container {
    width: 700px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255 / 16%);
    border-radius: 10px;
}

.react-calender {
    width: 100%;
    background-color: rgba(250, 250, 250, 0);
    line-height: 20px;
    color: #222;
}

.react-calendar__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__navigation__arrow {
    width: 50px;
    height: 35px;
    margin: 15px;
    font-size: 25px;
    border: 1px solid rgba(255, 255, 255, 0.685);
    border-radius: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.react-calendar__navigation__arrow:hover {
    background-color: rgba(255, 255, 255, 0.192);
}

.react-calendar__navigation__label {
    width: 200px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 35px;
    letter-spacing: 2px;
}

.react-calendar__viewContainer {
    margin-top: 50px;
}

.react-calendar__month-view__weekdays {
    margin: 15px;
    color: white;
}

abbr {
    text-decoration: none;
    letter-spacing: 1px;
}

.react-calendar__month-view__days {
    min-height: 220px;
    margin: 10px;
}

.react-calendar__tile {
    height: 35px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.react-calendar__tile--now {
    background-color: #7db2ed!important;
    color: white!important;
    opacity: 1!important;
}

.react-calendar__navigation__prev-button, .react-calendar__navigation__next-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button {
    display: none;
}

.react-calendar__tile:hover {
    background-color: #7db2ed;
    color: white;
}

.react-calendar__tile:disabled, .react-calendar__month-view__days__day--neighboringMonth {
    background-color: transparent;
    opacity: 0.5;
    color: white;
    cursor: default;
}

.sunday {
    color: #ff0000!important;
    opacity: 1;
}

.clock-main {
    width: 80%;
    max-width: 1000px;
    padding: 40px;
    margin: 150px auto;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 12px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    animation: startUp 1.2s ease-out forwards
}

@keyframes startUp {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.clock-main-off {
    display: none;
}

.calender-main-h1 {
    letter-spacing: 2px;
    color: lightgray;
    margin: 5px 0px 30px 0px;
    text-transform: capitalize;
}

.clock-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.time-cards {
    width: 220px;
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(143, 141, 141);
    border-radius: 10px;
    background-color: grey;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
}

.time-card-h2 {
    font-size: 20px;
    margin: 5px;
}

.time-card-available {
    width: 105px;
    border: 1px solid green;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.time-card-booked {
    width: 105px;
    border: 1px solid #971212;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #971212;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.select-time-link {
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #7db2ed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.select-time-link:hover {
    background-color: #64a2e9;
}

.select-time-link:disabled {
    opacity: 0.5;
    cursor: default;
}

.select-time-link:disabled:hover {
    background-color: #7db2ed;
}

.details-form-main {
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    animation: startUp 1.2s ease-out forwards;
}

.details-form-main-off {
    display: none;
}

.details-form-container {
    width: 70%;
    max-width: 850px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.123);
}

.input-container {
    width: 400px;
    height: 60px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.textarea-container {
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-textarea {
    width: 300px;
    padding-top: 20px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
}

.form-textarea::placeholder {
    color: lightgray;
}

.input-container-icon {
    width: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #7db2ed;
    color: white;
}

.form-input {
    width: 300px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
}

.form-input::placeholder {
    color: lightgray;
}

.input-container-select-main {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.select-div {
    position: relative;
    width: 400px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container-select {
    width: 390px;
    height: 30px;
    margin: 10px auto;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    appearance: none;
    z-index: 100;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.input-container-select-p {
    width: 400px;
    text-align: left;
}

.select-icon {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 0;
}

option {
    color: white;
    font-size: 15px;
    background-color: #222;
}

.input-form-btn-container {
    width: 400px;
    margin: 20px auto;
}

.input-form-btn {
    height: 40px;
    width: 100%;
    border: 1px solid #7db2ed;
    border-radius: 5px;
    background-color: #7db2ed;
    color: white;
    cursor: pointer;
}

.input-form-btn:hover {
    background-color: #64a2e9;
}

.input-form-btn:disabled {
    opacity: 0.5;
    cursor: default;
}

.input-form-btn:disabled:hover {
    background-color: #7db2ed;
    opacity: 0.5;
}

.user-input-main {
    width: 90%;
    max-width: 1100px;
    margin: 100px auto;
    padding: 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.233);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: startUp 1.2s ease-out forwards;
}

.user-input-main-off {
    display: none;
}

.booking-information-main {
    width: 50%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #383737e0;
    border-radius: 10px;
    color: white;
}

.booking-information-details {
    text-align: left;
}

.booking-information-details-h2 {
    color: #9ccafd;
}

.user-input-form {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.user-input-container {
    width: 90%;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: transparent;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-input-icon {
    width: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #7db2ed;
    color: white;
}

.user-input {
    width: 75%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.user-input::placeholder {
    color: lightgray;
}

.user-input-container-btn {
    width: 90%;
    margin: 10px auto;
}

.user-input-submit-btn {
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #7db2ed;
    color: white;
    cursor: pointer;
}

.user-input-submit-btn:hover {
    background-color: #64a2e9;
}

.user-input-submit-btn:disabled {
    opacity: 0.5;
    cursor: default;
}

.user-input-submit-btn:disabled:hover {
    background-color: #7db2ed;
    opacity: 0.5;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media (max-width: 850px) {
    .user-input-main {
        width: 95%;
        padding: 10px;
        flex-flow: column;
    }
    
    .booking-information-main, .user-input-form {
        align-items: center;
        width: 100%
    }
    .booking-information-details {
        text-align: center;
    }

    .booking-information-details-h2 {
        margin: 5px;
    }

    .go-back-btn-container {
        transform: rotate(90deg);
        left: -20px;
    }

    .user-input-container, .user-input-container-btn {
        width: 100%;
    }
}

@media (max-width: 794px) {
    .clock-main {
        width: 95%;
        padding: 20px;
    }
    
    .clock-container {
        width: 100%;
    }
    
    .time-cards {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .calender-container {
        width: 90%;
    }
    .react-calendar__navigation__label {
        font-size: 30px;
    }


    .details-form-container {
        width: 95%;
    }

    .input-container, .textarea-container, .select-div, .input-form-btn-container {
        width: 100%;
    }

    .form-input, .form-textarea {
        width: 85%;
    }

    .input-container-select, .input-container-select-p {
        width: 98%;
    }

    .input-form-btn {
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 550px) {
    .calender-container {
        padding: 10px;
    }

    .react-calendar__navigation__arrow {
        margin: 5px;
    }
}

@media (max-width: 400px) {
    .react-calendar__navigation__arrow {
        border: 1px solid transparent;
    }
}
