@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


.modalMain {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: 'PT Serif', serif;
}

@media (max-width: 768px) {
    .modalMain {
        width: 80%;
    }
}