.sideDrawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #3e3e3e;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 500;
    transition: transform 0.4s ease-out;
}

.sideDrawer.on {
    transform: translateX(0);
}

.sideDrawer.off {
    transform: translateX(100%);
}

.sideDrawerLogo {
    width: 150px;
    margin: 5px;
}

.loginBarSidedrawer, .navBarSidedrawer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1060px) {
    .sideDrawer {
        display: none;
    }
}

@media (max-width: 550px) {
    .sideDrawer {
        width: 270px;
    }
}

@media (max-width: 950px) and (max-height: 450px) {
    .sideDrawer {
        width: 70%;
        flex-flow: row;
        justify-content: center;
    }
    .logoContainer {
        width: 30%;
    }
    .navBarSidedrawer {
        width: 50%;
    }

    .sideDrawerLogo {
        width: 100px;
    }
}