.accidentMain {
    position: relative;
    width: 100%;
}

.accidentIntroMain {
    position: relative;
    width: 100%;
    height: 100vh;
}

.accidentIntroBg {
    height: 100%;
    width: 100%;
    background-image: url('../../../Assets/accident.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(0.4);
}

.accidentIntroContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.accidentIntroContainerH1 {
    font-size: 30px;
    color: #7db2ed;
}

.accidentIntroContainerP {
    font-size: 16px;
    width: 95%;
    text-align: left;
    line-height: 25px;
}

.accidentIntroContainerBtn {
    height: 45px;
    width: 300px;
    margin-top: 20px;
    background-color: #7db2ed;
    color: white;
    border: 1px solid #7db2ed;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.8;
}

.accidentIntroContainerBtn:hover {
    opacity: 1;
}

.camsMain {
    width: 100%;
    margin: 20px auto;
    padding: 30px 10px;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(53, 53, 53);
    justify-content: center;
    align-items: center;
}

.camsIntro{
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.camsImgContainer {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camsImg {
    width: 100%
}

.camsH1 {
    color: #7db2ed;
}

.camsP {
    text-align: left;
    color: lightgray;
    font-size: 15px;
}

.camsLink {
    text-decoration: none;
    border: 2px solid #8ebff7;
    background-color: #8ebff7;
    color: white;
    height: 40px;
    width: 200px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
}

.camsLink:hover {
    opacity: 1;
}

.whatWeDoMain {
    width: 100%;
    margin: 20px auto;
    padding: 30px 10px;
    box-sizing: border-box;
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatWeDoIntro, .whatWeDoImgContainer {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.whatWeDoImg {
    width: 100%;
}

.whatWeDoListContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatWeDoServices{
    width: 100%;
    margin: 15px auto;
    list-style: none;
    padding: 0;
}

.whatWeDoService {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 0;
}

.whatWeDoH2 {
    color: #7db2ed;
    letter-spacing: 1px;
    text-align: left;
}

.whatWeDoP {
    text-align: left;
    margin: 5px;
    font-size: 15px;
    color: lightgray
}

.whatWeDoIcon {
    font-size: 20px;
    margin: 5px;
    color: #8ebff7;
}

@keyframes enable {
    0% {
        scale: 1.2;
    }

    100% {
        scale: (1);
    }
}

@keyframes disable {
    0% {
        scale: 1.2;
    }

    100% {
        scale: (1);
    }
}

@media (max-width: 1000px) {
    .camsMain {
        flex-flow: column;
    }

    .camsImgContainer, .camsIntro {
        width: 100%;
    }

    .whatWeDoMain {
        flex-flow: column-reverse;
    }

    .whatWeDoListContainer {
        justify-content: flex-start;
    }

    .whatWeDoIntro, .whatWeDoImgContainer {
        width: 100%;
    }
}

@media (max-width: 932px) {
    .accidentIntroBg, .camsInquiryBg {
        background-attachment: scroll;
    }
}

@media (max-width: 768px) {
    .camsImgContainer {
        padding: 0px;
    }
}


@media (max-width: 452px) {
    .whatWeDoMain {
        margin: 25px auto;
    }

    .whatWeDoServices {
        width: 100%;
    }

    .accidentIntroBg {
        height: 1000px;
    }

    .accidentIntroContainerP {
        width: unset;
    }

    .accidentIntroContainerBtn {
        width: 100%;
    }

    .camsLink {
        width: 100%;
        background-color: #8ebff7;
        color: white;
    }
}

@media (min-width: 1061px) and (max-height: 750px) {
    .accidentIntroMain {
        height: 800px;
    }
}