.defaultRouteMain {
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #89a2bf;
}

.notFound {
    width: 80%;
}

.notFoundBtn {
    height: 40px;
    width: 180px;
    margin: 10px;
    border: 1px solid #4a5d74;
    background-color: #4a5d74;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.notFoundBtn:hover {
    border: 1px solid white;
    background-color: white;
    color: #4a5d74;
}

@media (max-width: 768px) {
    .notFound {
        width: 100%;
    }

    .notFoundBtn {
        width: 95%;
        background-color: #4a5d74;
        color: white;
    }
}

@media (max-height: 750px) {
    .notFound {
        width: 55%;
    }
}