.footerMain {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 53, 53);
}

.footerContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:flex-start;
}

.footerContainerItem {
    width: 250px;
    margin: 10px;
    color: white;
    flex-grow: 1;
}

.quickLinksContainer, .usefulLinksContainer, .stayConnectedLists {
    list-style: none;
    padding: 0;
}

.openingTimesContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.cycleFixHeader {
    font-size: 22px;
    margin: 10px 0;
    color: #7db2ed;
}

.openingTimes {
    list-style: none;
    padding: 0;
    width: 220px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.openingTime {
    margin: 10px;
    font-size: 14px;
    color: lightgray;
}

.quickLinksList, .usefulLinksList {
    list-style: none;
    margin: 5px 0;
}

.socialLinks {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinkIcon {
    font-size: 25px;
    margin: 10px;
    color: lightgray;
    cursor: pointer;
}

.socialLinkIcon:hover {
    color:#63a2eb;
}

.quickLinksLink, .usefulLinksLink, .stayConnectedLink {
    text-decoration: none;
    display: block;
    color: rgb(218, 217, 217);
    font-size: 14px;
}

.quickLinksLink:hover, .usefulLinksLink:hover, .stayConnectedLink:hover {
    color: #63a2eb;
}

.copyright {
    width: 100%;
    margin: 15px;
    color: white;
}

.footerHeader {
    color: #7db2ed;
    margin: 0 0 10px 0;
    font-size: 22px;
}

.stayConnectedIcon {
    font-size: 30px;
    color: red;
}

.stayConnectedP {
    margin: 5px 0;
}

.openingTimesHeader {
    font-size: 16px;
    margin: 5px 0;
}

.footerTrailerHeader {
    font-size: 15px;
    color: #7db2ed;
    font-weight: 400;
}