.chooseServicesCards {
    width: 90%;
    max-width: 1045px;
    border: 2px solid lightgray;
    border-radius: 5px;
    box-shadow: 5px 5px 12px 1px #bacee5;
    background-color: rgba(255, 255, 255, 0.808);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}

.chooseServicesCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chooseServicesImg {
    width: 100%;
    border-radius: 5px;
}

.chooseServicesInfoContainer {
    width: 95%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.chooseServicesInfo {
    text-align: left;
}

.chooseServicesImgContainer {
    width: 45%;
}

.chooseServicesIncludedMain {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.included {
    margin: 5px 0;
    font-size: 15px;
}

.chooseServicesIcon {
    width: 20px;
    margin: 5px auto;
    padding: 10px;
    background-color: #6ba9f0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 12px 2px #7db2ed;
}

.chooseServicesIcon:hover {
    background-color: #579ceb;
}

.chooseServicesIncluded {
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.chooseServicesIncluded.chooseServicesIncludedOff {
    display: none;
}

.chooseService {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1282ff;
}

.chooseServiceIcon {
    width: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #7db2ed;
    color: white;
}

.service {
    text-align: left;
    font-size: 14px;
}

.collapseIconContainer {
    margin: 10px 0;
}

.chooseServicesPriceContainer {
    width: 45%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: #749BC2;
    margin: 5px 0;
}

.selectLink {
    text-decoration: none;
    width: 300px;
    height: 40px;
    margin: 5px 0;
    border: 1px solid #7db2ed;
    border-radius: 5px;
    background-color: #7db2ed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.selectLink:hover {
    background-color: #6aa5e9;
}

.expandButton {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.chooseServicesH2 {
    color: #749BC2;
    margin: 0 0 5px 0;
    font-size: 20px;
}

.chooseServicesP {
    color: #383838;
    margin: 5px 0;
    font-size: 15px;
}

@media (max-width: 950px) {
    .chooseServicesCards {
        width: 95%;
    }

    .chooseServicesCard {
        width: 100%;
        flex-flow: column;
    }

    .chooseServicesCard, .chooseServicesImgContainer, .chooseServicesInfoContainer {
        width: 100%;
    }

    .chooseServicesPriceContainer {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 550px) {
    .chooseServicesIncludedMain {
        margin: 5px;
    }

    .selectLink {
        width: 100%;
    }
}