.registrationForm {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.registrationFormNames {
    width: 95%;
    max-width: 450px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registrationFormName {
    width: 48%;
    height: 45px;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.301);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.registrationFormName.wrongInput {
    background-color: rgba(248, 44, 44, 0.452);
}

.registrationFormIcon {
    font-size: 20px;
    color: #7db2ed;
    margin: 10px;
}

.registrationFormInput{
    width: 90%;
    height: 30px;
    margin: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.registrationFormInput::placeholder {
    color: lightgray;
}

.registrationFormInputContainer {
    position: relative;
    width: 95%;
    max-width: 450px;
    height: 45px;
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.301);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.registrationFormInputContainer.wrongInput {
    background-color: rgba(248, 44, 44, 0.452);
}

.registrationFormLoginContainer {
    width: 95%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.userExist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    width: 100%;
    color: rgb(248, 120, 120);
    font-size: 15px;
}

.registrationFormSelect {
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: lightgray;
}

.registrationFormOption {
    color: #7db2ed;
    margin: 10px;
}

.reTypePasswordP {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 225%);
    width: 100%;
    color: rgb(248, 120, 120);
    margin: 0;
}

.registrationFormRadioContainer {
    width: 95%;
    max-width: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    color: white;
}

input[type='radio']:checked {
    background: #7db2ed;
}

.registrationFormP {
    margin: 0 5px;
    font-size: 14px;
}

.loginPromptP {
    margin: 5px;
    font-size: 14px;
}

.registrationBtn {
    height: 40px;
    width: 95%;
    max-width: 450px;
    margin: 20px auto;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #6da8ec;
    color: rgb(238, 238, 238);
    cursor: pointer;
}

.registrationBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.registrationBtn:hover {
    background-color: #7db2ed;
    color: white;
}

.registrationLink {
    height: 30px;
    width: 150px;
    text-decoration: none;
    background-color: rgba(211, 211, 211, 0);
    color:#7db2ed;
    border: 1px solid #7db2ed;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrationLink:hover {
    background-color: #7db2ed;
    color: white;
}

.displayMsgMain {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.displayMsgBtns {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayMsgBtn {
    height: 40px;
    width: 150px;
    background-color: #7db2ed;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid transparent;
}

.displayMsgBtn:hover {
    background-color: #64a2e9;
    color: white;
}

@media (max-width: 550px) {
    .registrationFormNames, .registrationFormInputContainer, .registrationFormRadioContainer, .registrationBtn, .registrationFormLoginContainer {
        max-width: unset;
    }
}

@media (max-width: 400px) {
    .registrationLink {
        width: 80px;
    }
}

@media (max-width: 340px) {
    .registrationFormRadioContainer {
        align-items: flex-start;
    }

    .registrationFormP {
        text-align: left;
    }
}

/* @media (max-width: 600px) {
    .registrationFormNames {
        width: 90%;
        margin: 10px;
        flex-flow: column;
    }

    .registrationFormName {
        width: 100%;
        margin: 15px;
    }

    .registrationFormInputContainer, .registrationBtn, .registrationFormLoginContainer {
        width: 90%;
    }

    .registrationFormRadioContainer {
        width: 90%;
        justify-content: flex-start;
        margin: 10px;
    }
}

@media (max-width: 386px) {
    .registrationFormRadioContainer {
        align-items: flex-start;
    }

    input[type='radio'] {
        margin: 5px;
    }
} */