.forgotPasswordMain {
    width: 100%;
    height: 100vh;
    background-image: url('../../Assets/resetPassword.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordContainer {
    width: 700px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    margin: 20px auto;
}

.instruction {
    width: 90%;
    text-align: center;
}

.inputContainer {
    position: relative;
    width: 70%;
    min-width: 350px;
    height: 45px;
    margin: 20px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input {
    border: none;
    outline: none;
    width: 80%;
    height: 40px;
    padding-left: 5px;
}

.inputIcon {
    font-size: 20px;
    margin-left: 10px;
    color: #7db2ed;
}

.user {
    color: darkred;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.submitBtn {
    height: 40px;
    width: 250px;
    margin: 20px auto;
    border: 1px solid #7db2ed;
    background-color: #7db2ed;
    color: white;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #5b9de7;
}

.submitBtn:disabled {
    opacity: 0.5;
    cursor: default;
}

.submitBtn:disabled:hover {
    background-color: #7db2ed;
}

.displayStatusContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.statusHeader {
    color: #7db2ed;
}

.statusBtn {
    height: 40px;
    width: 150px;
    margin: 20px;
    border: 1px solid #7db2ed;
    background-color: #7db2ed;
    color: white;
    cursor: pointer;
}

.statusBtn:hover {
    background-color: #5b9de7;
}

@media (max-width: 768px) {
    .forgotPasswordContainer {
        width: 95%;
    }
}

@media (max-width: 450px) {
    .inputContainer {
        width: 100%;
        min-width: unset;
    }

    .submitBtn {
        width: 100%;
    }
}

@media (max-height: 800px) {
    .forgotPasswordMain {
        height: 700px;
    }
}