.camsInquiryMain {
    position: relative;
    width: 100%;
    margin: 50px auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.camsInquiryMain:target {
    scroll-margin-top: 5rem;
}

.camsInquiryH1 {
    color: #7db2ed;
    letter-spacing: 1px;
}

.camsInquiryBg {
    width: 100%;
    height: 800px;
    background-image: url('../../../Assets/accident2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(0.3);
}

.camsInquiryFormContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    margin: 0 auto;
    background-color: rgb(53 53 53 / 89%);
    border-radius: 5px;
}

.camsInquiryForm{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.camsInquiryFormInputContainer {
    width: 60%;
    min-width: 420px;
    margin: 25px auto;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.37);
}

.camsInquiryFormInputContainer.wrongInput {
    border: 1px solid red;
}

.camsInquiryFormInputIcon.wrongInputIcon {
    color: red;
}

.camsInquiryFormInputIcon {
    font-size: 20px;
    color: #96c0db;
    margin: 5px;
}

.camsInquiryFormInput {
    width: 100%;
    height: 90%;
    margin: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #96c0db;
}

.camsInquiryFormInput::placeholder {
    color: #96c0db;
}

.camsInquiryFormMsgInputContainer {
    width: 60%;
    min-width: 420px;
    height: 200px;
    margin: 25px auto;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.37);
}

.camsInquiryFormMsgInputContainer.wrongInput {
    border: 1px solid red;
}

.camsInquiryFormMsgInput {
    position: relative;
    width: 100%;
    margin: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #96c0db;
}

.camsInquiryFormMsgInput::placeholder {
    color: #96c0db;
    position: absolute;
    top: 4px;
    left: 4px;
}

.camsInquiryFormBtn{
    height: 45px;
    width: 60%;
    min-width: 420px;
    margin: 25px auto;
    background-color: #8ebff7;
    color: white;
    border: 1px solid #8ebff7;
    border-radius: 5px;
    cursor: pointer;
    animation: enable 0.6s ease-out forwards;
}

.camsInquiryFormBtn:disabled {
    cursor: default;
    opacity: 0.5;
    animation: disable 0.6s ease-out forwards;
}

.submitMsgMain {
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Serif', serif;
    text-align: center;
    color: #63a0c8;
}

.submitMsgH1 {
    margin: 10px auto;
}

.submitMsgP {
    margin: 10px auto;
}

.submitMsgBtn {
    height: 40px;
    width: 100%;
    margin: 10px auto;
    border: 1px solid #569fcf;
    border-radius: 5px;
    background-color: #569fcf;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.submitMsgBtn:hover {
    background-color: #569fcf;
    color: white;
}

@media (max-width: 932px) {
    .camsInquiryFormContainer, .camsInquiryFormInputContainer, .camsInquiryFormMsgInputContainer, .camsInquiryFormBtn {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .camsInquiryFormContainer {
        width: 90%;
        min-width: unset;
    }

    .camsInquiryFormInputContainer {
        width: 90%;
        min-width: unset;
    }

    .camsInquiryFormMsgInputContainer {
        width: 90%;
        min-width: unset;
    }

    .camsInquiryFormBtn {
        width: 90%;
        min-width: unset;
    }
}

@media (max-width: 450px) {
    .camsInquiryFormContainer, .camsInquiryFormInputContainer, .camsInquiryFormMsgInputContainer, .camsInquiryFormBtn {
        width: 95%;
    }
}