.App {
  width: 100%;
  position: relative;
  text-align: center;
  /* background: linear-gradient(235deg, #212529, #6c757d); */
  /* background: linear-gradient(45deg, rgb(2, 2, 2), rgb(51, 49, 49)); */
  background: linear-gradient(88deg, rgb(0 0 0), rgb(50 50 50));
  overflow: hidden;
}